<header>
    <nav class="navbar">
        <a class="title navbar-item" href="@Url.Action("Index", "Home")">Home</a>
        <div class="navbar-items">
            <a class="navbar-item" href="@Url.Action("Index", "Taxpayers")">Contribuintes</a>
            <a class="navbar-item" href="@Url.Action("Index", "Benefits")">Benefícios</a>
            <a class="navbar-item" href="@Url.Action("Index", "Payments")">Pagamentos</a>
        </div>
    </nav>
</header>