@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h1>Bem-vindo(a) ao Simulador de Pagamentos!</h1>
    <p>
        Nessa aplicação você pode, visualizar, cadastrar, editar ou deletar <a href="@Url.Action("Index", "Taxpayers")">contribuintes</a>,
        <a href="@Url.Action("Index", "Benefits")">benefícios</a> e simular <a href="@Url.Action("Index", "Payments")">pagamentos</a>!
    </p>
</section>