@model BenefitsManager.Models.CreatePaymentViewModel

<section>
    <h2>Simular Pagamento</h2>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="TaxpayerName">Razão Social</label>
            <input type="text" class="form-control" asp-for="TaxpayerName" readonly />
        </div>

        <div class="form-group">
            <label asp-for="BenefitId">Benefício</label>
            <select class="form-control" name="BenefitId">
                @foreach (var benefit in Model.Benefits)
                {
                    <option value="@benefit.Value">@benefit.Text</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="InitialValue">Valor do Pagamento</label>
            <input type="number" class="form-control" asp-for="InitialValue" />
        </div>

        <input type="hidden" asp-for="TaxpayerId" />

        <div class="form-group group-buttons">
           <button type="submit" class="button">Simular</button>
            <a class="button-back" asp-action="SearchTaxpayer">Voltar</a>
        </div>
    </form>
</section>
