@{
    ViewData["Title"] = "Simular pagamento";
}

<section>
    <h1>Simular pagamento</h1>

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }

    <form asp-action="SearchTaxpayer" method="post">
        <div class="form-group">
            <div class="search-form">
                <input type="text" class="form-control search-bar" id="cnpj" name="cnpj" placeholder="Informe o CNPJ do contribuinte" required />
                <button type="submit" class="button search-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" class="search-icon">
                        <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
        </div>
    </form>

    <div class="group-buttons">
        <a class="button-back" asp-action="Index">Voltar</a>
    </div>
</section>
