@model BenefitsManager.Models.Benefit

@{
    ViewData["Title"] = "Cadastrar";
}

<section>
    <h1>Cadastrar Benefício</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiscountPercentage" class="control-label"></label>
                    <input asp-for="DiscountPercentage" class="form-control" type="number" min="0" max="100" />
                    <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
                </div>
                <div class="form-group group-buttons">
                    <input type="submit" value="Cadastrar" class="button" />
                    <a class="button-back" asp-action="Index">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
