@model BenefitsManager.Models.Taxpayer

@{
    ViewData["Title"] = "Cadastrar";
}
<section>
    <h1>Cadastrar Contribuinte</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Cnpj" class="control-label"></label>
                    <input asp-for="Cnpj" class="form-control" id="cnpj" type="text"/>
                    <span asp-validation-for="Cnpj" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OpeningDate" class="control-label"></label>
                    <input asp-for="OpeningDate" class="form-control" type="date" />
                    <span asp-validation-for="OpeningDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TaxationRegime" class="control-label"></label>
                    <input asp-for="TaxationRegime" class="form-control" />
                    <span asp-validation-for="TaxationRegime" class="text-danger"></span>
                </div>

                <div class="benefit-form"> 
                    <h4>Selecione os Benefícios:</h4>
                    @foreach (var benefit in ViewBag.Benefits)
                    {
                        <div class="benefit-option">
                            <input type="checkbox" name="SelectedBenefits" value="@benefit.Id" />
                            <label>@benefit.Name (@benefit.DiscountPercentage%)</label>
                        </div>
                    }
                    <span asp-validation-for="SelectedBenefits" class="text-danger"></span>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                </div>
                
                <div>
                    <input type="submit" value="Cadastrar" class="button" />
                    <a class="button-back" asp-action="Index">Voltar</a>

                </div>
            </form>
        </div>
    </div>
    </section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
